::-moz-selection {
  color: #f0f0f0;
  background: #6078ad;
}

::selection {
  color: #f0f0f0;
  background: #6078ad;
}

h1, h2, h3, h4, h5, h6,
ul, ol, dd,
p, figure, blockquote,
pre, table, fieldset, hr {
  margin-top: 0;
  margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", "Droid Serif", "Times New Roman", Times, serif;
}

html,
body {
  height: 100%;
  max-height: 100%;
}

body {
  font-size: 1em;
  line-height: 1.5;
  font-family: Roboto, "Droid Sans", Arial, sans-serif;
  color: #e8e8e8;
  background-color: #242628;
}

a:link, a:visited {
  color: #90bb74;
  font-weight: 600;
  text-decoration: none;
  transition: color .2s ease;
}

  a:hover, a:active {
    color: #73955c;
  }

/**
 * Viewport sized background image. Maintains 100% height when zooming in and
 * out, aswell as resizing the browser window.
 */
.cover-image {
  height: 100%;
  min-height: 100%;
  background-image: url('../img/background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin: 0 auto;
  width: 35rem;
}

.center__container {
  display: table;
  text-align: center;
  height: 100%;
  width: 100%;
}

  .center__vertical {
    display: table-cell;
    vertical-align: middle;
  }

    .center__inner {
      margin: 0 auto;
      max-width: 32em;
    }
