
$base-font-size: 16px;
$base-line-height: 24px;
$rhythm-unit: "rem";

$font-stack: "Droid Sans", Roboto, Arial, sans-serif;
$header-font-stack: "Roboto Slab", "Droid Serif", "Times New Roman", Times, serif;
